@model IEnumerable<ScholarSyncMVC.Models.Category>

@{
    ViewData["Title"] = "Index";
}
<div class="m-auto w-75  bg-white p-3">
    @if (!string.IsNullOrEmpty(TempData["Message"] as string))
    {
        <div class="alert alert-primary mt-3 mb-2">
            @TempData["message"]
        </div>
    }

</div>
<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Details
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
            
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

                <td>
                    <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.Id">تفاصيل</a>
                </td>


                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">تعديل</a>
                </td>

                <td>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                </td>

        </tr>
}
    </tbody>
</table>
